# **MediSure**

OR

# **SafeRx**

$$PROPOSAL$$



### **Objective:**  

The primary objective of this project is to develop a predictive model that evaluates the safety of medications for individual users by analyzing their medical profiles, current medicines, and allergies. The model will provide recommendations for both chemical and herbal alternatives to prescribed medicines, while cross-checking potential allergic reactions between medications. Additionally, it will offer guidance on foods that should be avoided while taking specific medications, ensuring users make informed decisions on medicine safety, alternatives, and dietary considerations.


$$ ~~~~~~~ $$



### **Tools:**

- **Pandas** for data cleaning and manipulation.

- **Scikit-learn** for building and training predictive models (Logistic Regression, Random Forest).

- **XGBoost** for efficient and scalable gradient boosting.

- **NLP libraries** (spaCy/Transformers) for processing unstructured data related to medical profiles and symptoms.

- **Flask/Django** to build the web interface and REST API for user interaction.

- **PostgreSQL/MongoDB** for storing user profiles, medicine information, and interactions.




$$ ~~~~~~~ $$




### **Expected Outcomes:**

- A user-friendly application that allows individuals to input their medical profiles and receive immediate feedback on medication safety.
- Recommendations for both chemical and herbal alternative medicines, along with safe food options based on allergies and current medications.
- A comprehensive report on potential side effects and safety considerations, offering users insights into their medications and health.

____

# EDA

In [10]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

# 1

In [8]:
# url = https://www.kaggle.com/datasets/shudhanshusingh/250k-medicines-usage-side-effects-and-substitutes/data

df = pd.read_csv('/Users/raynasser/Downloads/DSproj/medicine_dataset.csv')

df.shape

/var/folders/qx/yrwdfm5j0jz1gmhp0x2tvjy80000gn/T/ipykernel_39620/4101473200.py:3: DtypeWarning: Columns (42,43,44,45,46,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/raynasser/Downloads/DSproj/medicine_dataset.csv')

(248218, 58)

In [9]:
# df.info()

df.columns

Index(['id', 'name', 'substitute0', 'substitute1', 'substitute2',
       'substitute3', 'substitute4', 'sideEffect0', 'sideEffect1',
       'sideEffect2', 'sideEffect3', 'sideEffect4', 'sideEffect5',
       'sideEffect6', 'sideEffect7', 'sideEffect8', 'sideEffect9',
       'sideEffect10', 'sideEffect11', 'sideEffect12', 'sideEffect13',
       'sideEffect14', 'sideEffect15', 'sideEffect16', 'sideEffect17',
       'sideEffect18', 'sideEffect19', 'sideEffect20', 'sideEffect21',
       'sideEffect22', 'sideEffect23', 'sideEffect24', 'sideEffect25',
       'sideEffect26', 'sideEffect27', 'sideEffect28', 'sideEffect29',
       'sideEffect30', 'sideEffect31', 'sideEffect32', 'sideEffect33',
       'sideEffect34', 'sideEffect35', 'sideEffect36', 'sideEffect37',
       'sideEffect38', 'sideEffect39', 'sideEffect40', 'sideEffect41', 'use0',
       'use1', 'use2', 'use3', 'use4', 'Chemical Class', 'Habit Forming',
       'Therapeutic Class', 'Action Class'],
      dtype='object')

In [12]:
df.dtypes.unique()

array([dtype('int64'), dtype('O')], dtype=object)

In [13]:
df.dtypes.value_counts()

object    57
int64      1
dtype: int64

In [17]:
# df.describe(include=['O'])

df

,id,name,substitute0,substitute1,substitute2,substitute3,substitute4,sideEffect0,sideEffect1,sideEffect2,...,sideEffect41,use0,use1,use2,use3,use4,Chemical Class,Habit Forming,Therapeutic Class,Action Class
0,1,augmentin 625 duo tablet,Penciclav 500 mg/125 mg Tablet,Moxikind-CV 625 Tablet,Moxiforce-CV 625 Tablet,Fightox 625 Tablet,Novamox CV 625mg Tablet,Vomiting,Nausea,Diarrhea,...,NaN,Treatment of Bacterial infections,NaN,NaN,NaN,NaN,NaN,No,ANTI INFECTIVES,NaN
1,2,azithral 500 tablet,Zithrocare 500mg Tablet,Azax 500 Tablet,Zady 500 Tablet,Cazithro 500mg Tablet,Trulimax 500mg Tablet,Vomiting,Nausea,Abdominal pain,...,NaN,Treatment of Bacterial infections,NaN,NaN,NaN,NaN,Macrolides,No,ANTI INFECTIVES,Macrolides
2,3,ascoril ls syrup,Solvin LS Syrup,Ambrodil-LX Syrup,Zerotuss XP Syrup,Capex LS Syrup,Broxum LS Syrup,Nausea,Vomiting,Diarrhea,...,NaN,Treatment of Cough with mucus,NaN,NaN,NaN,NaN,NaN,No,RESPIRATORY,NaN
3,4,allegra 120mg tablet,Lcfex Tablet,Etofex 120mg Tablet,Nexofex 120mg Tablet,Fexise 120mg Tablet,Histafree 120 Tablet,Headache,Drowsiness,Dizziness,...,NaN,Treatment of Sneezing and runny nose due to al...,Treatment of Allergic conditions,NaN,NaN,NaN,Diphenylmethane Derivative,No,RESPIRATORY,H1 Antihistaminics (second Generation)
4,5,avil 25 tablet,Eralet 25mg Tablet,NaN,NaN,NaN,NaN,Sleepiness,Dryness in mouth,NaN,...,NaN,Treatment of Allergic conditions,NaN,NaN,NaN,NaN,Pyridines Derivatives,No,RESPIRATORY,H1 Antihistaminics (First Generation)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248213,248214,zestrain 100mg/325mg/250mg tablet mr,Aclotec MR 100mg/325mg/250mg Tablet,SAMONEC MR TABLET,Uniclof 100mg/325mg/250mg Tablet MR,Macito 100mg/325mg/250mg Tablet MR,Rumatin 100mg/325mg/250mg Tablet MR,Nausea,Vomiting,Heartburn,...,NaN,Treatment of Muscular pain,NaN,NaN,NaN,NaN,NaN,No,PAIN ANALGESICS,NaN
248214,248215,zoxinace 200mg tablet sr,Algic 200mg Tablet SR,Topnac 200mg Tablet SR,Kindac 200mg Tablet SR,Ultranac 200mg Tablet SR,Bignac 200mg Tablet SR,Dizziness,Indigestion,Nausea,...,NaN,Pain relief,NaN,NaN,NaN,NaN,Dichlorobenzenes Derivative,No,PAIN ANALGESICS,NSAID's- Non-Selective COX 1&2 Inhibitors (ace...
248215,248216,zivex 25mg tablet,HD Zine 25mg Tablet,Hydrocas 25mg Tablet,Hyzox 25 Tablet,Hydil 25mg Tablet,Zyzine 25mg Tablet,Sedation,Nausea,Vomiting,...,NaN,Treatment of Anxiety,Treatment of Skin conditions with inflammation...,NaN,NaN,NaN,Piperazine Derivative,No,RESPIRATORY,H1 Antihistaminics (First Generation)
248216,248217,zi fast 500mg injection,Zycin 500mg Injection,Aziwok 500mg Injection,Azirow 500mg Injection,Toracin 500mg Injection,Azymed 500mg Injection,"Injection site reactions (pain, swelling, redn...",Vomiting,Nausea,...,NaN,Treatment of Bacterial infections,NaN,NaN,NaN,NaN,Macrolides,No,ANTI INFECTIVES,Macrolides
248217,248218,zyvocol 1% dusting powder,Canazole Dusting Powder,Clotrex Dusting Powder,AF -C Dusting Powder,Klo-Aid Dusting Powder,Nuforce Dusting Powder,Blisters,Skin peeling,Swelling,...,NaN,Treatment of Fungal skin infections,NaN,NaN,NaN,NaN,Azole derivatives {Imidazoles},No,DERMA,Fungal ergosterol synthesis inhibitor

In [15]:
df.duplicated().sum()

0

In [16]:
pd.DataFrame(df.isna().sum())

                        0
id                      0
name                    0
substitute0          9597
substitute1         14351
substitute2         17985
substitute3         21362
substitute4         24256
sideEffect0             0
sideEffect1          9802
sideEffect2         18718
sideEffect3         40580
sideEffect4         84658
sideEffect5        116960
sideEffect6        156361
sideEffect7        180468
sideEffect8        199712
sideEffect9        210510
sideEffect10       220944
sideEffect11       227887
sideEffect12       231936
sideEffect13       233491
sideEffect14       237799
sideEffect15       240537
sideEffect16       242209
sideEffect17       242836
sideEffect18       243703
sideEffect19       244272
sideEffect20       244995
sideEffect21       245093
sideEffect22       245170
sideEffect23       245313
sideEffect24       245495
sideEffect25       246715
sideEffect26       246715
sideEffect27       246724
sideEffect28       246724
sideEffect29       246780
sideEffect30       246889
sideEffect31       246889
sideEffect32       246890
sideEffect33       247049
sideEffect34       247052
sideEffect35       248216
sideEffect36       248216
sideEffect37       248216
sideEffect38       248216
sideEffect39       248216
sideEffect40       248216
sideEffect41       248216
use0                    0
use1               174853
use2               219911
use3               240839
use4               243247
Chemical Class     110427
Habit Forming           0
Therapeutic Class      69
Action Class       110182

In [15]:
# sns.scatterplot(data=df, x=df.index, y='id');

# sns.histplot(data=df, x='id');

# 2

### Analysis

In [3]:
# https://www.kaggle.com/datasets/vikramadityasingh27/master-medicine-data

df2 = pd.read_csv('/Users/raynasser/Downloads/DSproj/Medicine.csv', encoding='ISO-8859-1')

df2.shape

(6338, 4)

In [4]:
df2.iloc[33]

ItemId                                            1231
ItemCategoryName                                 Drugs
ItemSubCategoryName                           CAPSULES
ItemName               SOMPRAZ D  CAP 1X10  SUN PHARMA
Name: 33, dtype: object

In [18]:
# df.info()

df2.columns

Index(['ItemId', 'ItemCategoryName', 'ItemSubCategoryName', 'ItemName'], dtype='object')

In [19]:
df2.dtypes.unique()

array([dtype('int64'), dtype('O')], dtype=object)

In [20]:
df2.dtypes.value_counts()

object    3
int64     1
dtype: int64

In [21]:
df2.describe(include=['O'])

,ItemCategoryName,ItemSubCategoryName,ItemName
count,6338,6338,6338
unique,1,33,6338
top,Drugs,TABLET,TRINERVE CAP 100m+60mg+5mg+1.5mg+200mcg 1x10 A...
freq,6338,2823,1

In [22]:
df2.duplicated().sum()

0

In [23]:
pd.DataFrame(df2.isna().sum())

                     0
ItemId               0
ItemCategoryName     0
ItemSubCategoryName  0
ItemName             0

# 3


##### Compounds relevant for studying environmental exposures. It includes 49,248 unique chemical compounds from PubChem, focused on exposomics research, which looks at the effects of environmental exposures on human health. This dataset is useful for researchers exploring chemical exposure profiles in environmental and biological samples.




- Compound Identifiers: Unique identifiers for each chemical.
- FirstBlock: A unique identifier for each chemical compound. (String)
- PubMed_Count: The number of times the chemical compound has been mentioned in PubMed. (Integer)
- Patent_Count: The number of times the chemical compound has been mentioned in patents. (Integer)
- Synonym: A list of alternative names for the chemical compound. (String)
- MolecularFormula: The molecular formula of the chemical compound. (String)
- SMILES: The simplified molecular-input line-entry system representation of the chemical compound. (String)
- InChI: The International Chemical Identifier of the chemical compound. (String)
- InChIKey: The InChIKey of the chemical compound. (String)
- MonoisotopicMass: The monoisotopic mass of the chemical compound. (Float)
- CompoundName: The name of the chemical compound. (String)
- AnnoTypeCount: The number of annotation types associated with the chemical compound. (Integer)
- AgroChemInfo: Information related to the use of the chemical compound in agriculture. (String)
- BioPathway: Information related to the biological pathways associated with the chemical compound. (String)
- DrugMedicInfo: Information related to the use of the chemical compound in drugs and medicines. (String)
- FoodRelated: Information related to the use of the chemical compound in food. (String)
- PharmacoInfo: Information related to the pharmacological properties of the chemical compound. (String)
- SafetyInfo: Information related to the safety of the chemical compound. (String)
- ToxicityInfo: Information related to the toxicity of the chemical compound. (String)
- KnownUse: Information related to the known uses of the chemical compound. (String)
- DisorderDisease: Information related to the disorders and diseases associated with the chemical compound. (String)



** Exposomics is the study of the exposome and relies on the application of internal and external exposure assessment methods. Internal exposure relies on fields of study such as genomics, metabonomics, lipidomics, transcriptomics and proteomics.

In [24]:
# https://www.kaggle.com/datasets/thedevastator/pubchemlite-compound-collection-for-exposomics-3

df3 = pd.read_csv('/Users/raynasser/Downloads/DSproj/PubChemLite_31Oct2020_exposomics.csv')

df3.shape

(371663, 23)

In [25]:
# df.info()

df3.columns

Index(['Identifier', 'FirstBlock', 'PubMed_Count', 'Patent_Count',
       'Related_CIDs', 'Synonym', 'MolecularFormula', 'SMILES', 'InChI',
       'InChIKey', 'MonoisotopicMass', 'CompoundName', 'AnnoTypeCount',
       'AgroChemInfo', 'BioPathway', 'DrugMedicInfo', 'FoodRelated',
       'PharmacoInfo', 'SafetyInfo', 'ToxicityInfo', 'KnownUse',
       'DisorderDisease', 'Identification'],
      dtype='object')

In [26]:
df3.dtypes.unique()

array([dtype('int64'), dtype('O'), dtype('float64')], dtype=object)

In [27]:
df3.dtypes.value_counts()

int64      14
object      8
float64     1
dtype: int64

In [28]:
df3.describe(include=['O'])

,FirstBlock,Related_CIDs,Synonym,MolecularFormula,SMILES,InChI,InChIKey,CompoundName
count,371663,371663,359195,371663,371663,371663,371663,370840
unique,371663,371663,359195,108256,371663,371663,371663,370806
top,INCSWYKICIYAHB,9964159 23615184 45266758,"(2S,3S)-2,3-dihydroxy-2,3-dihydrobenzoic acid",C75H146O17P2,C1=CC(C(C(=C1)C(=O)O)O)O,InChI=1S/C7H8O4/c8-5-3-1-2-4(6(5)9)7(10)11/h1-...,INCSWYKICIYAHB-UHFFFAOYSA-N,2-[2-[2-[2-(2-methoxyethoxy)ethoxy]ethoxy]etho...
freq,1,1,1,914,1,1,1,3

In [29]:
df3.duplicated().sum()

0

In [30]:
pd.DataFrame(df3.isna().sum())

                      0
Identifier            0
FirstBlock            0
PubMed_Count          0
Patent_Count          0
Related_CIDs          0
Synonym           12468
MolecularFormula      0
SMILES                0
InChI                 0
InChIKey              0
MonoisotopicMass      0
CompoundName        823
AnnoTypeCount         0
AgroChemInfo          0
BioPathway            0
DrugMedicInfo         0
FoodRelated           0
PharmacoInfo          0
SafetyInfo            0
ToxicityInfo          0
KnownUse              0
DisorderDisease       0
Identification        0

#  4

In [31]:
# https://www.kaggle.com/code/rielumboh/eda-and-modelling-allergen-in-food-products/input

df4 = pd.read_csv('/Users/raynasser/Downloads/DSproj/Allergen_Status_of_Food_Products.csv')

df4.shape

(399, 9)

In [32]:
# df.info()

df4.columns

Index(['Food Product', 'Main Ingredient', 'Sweetener', 'Fat/Oil', 'Seasoning',
       'Allergens', 'Price ($)', 'Customer rating (Out of 5)', 'Prediction'],
      dtype='object')

In [33]:
df4.dtypes.unique()

array([dtype('O'), dtype('float64')], dtype=object)

In [34]:
df4.dtypes.value_counts()

object     7
float64    2
dtype: int64

In [35]:
df4.describe(include=['O'])

,Food Product,Main Ingredient,Sweetener,Fat/Oil,Seasoning,Allergens,Prediction
count,399,399,399,399,399,399,398
unique,259,101,10,36,186,40,2
top,Stuffed Bell Peppers,Chicken,None,Olive oil,None,None,Contains
freq,4,61,280,90,20,148,255

In [36]:
df4.duplicated().sum()

0

In [37]:
pd.DataFrame(df4.isna().sum())

                            0
Food Product                0
Main Ingredient             0
Sweetener                   0
Fat/Oil                     0
Seasoning                   0
Allergens                   0
Price ($)                   0
Customer rating (Out of 5)  0
Prediction                  1

# 5

In [38]:
# https://data.mendeley.com/datasets/m78j7ctwhn/2

df5 = pd.read_csv('/Users/raynasser/Downloads/DSproj/pharma_safe/data-drug.csv', delimiter= '|')

df5.shape

(112, 4)

In [39]:
# df.info()

df5.columns

Index(['id', 'name', 'category', 'indication'], dtype='object')

In [40]:
df5.dtypes.unique()

array([dtype('int64'), dtype('O')], dtype=object)

In [41]:
df5.dtypes.value_counts()

object    3
int64     1
dtype: int64

In [42]:
df5.describe(include=['O'])

,name,category,indication
count,112,112,112
unique,107,6,76
top,OBH Combi Batuk Flu Menthol,cough,"To relieve flu symptoms such as fever, headach..."
freq,2,36,11

In [43]:
df5.duplicated().sum()

0

In [44]:
pd.DataFrame(df5.isna().sum())

            0
id          0
name        0
category    0
indication  0

# 6

In [5]:
# https://data.world/crowdflower/drug-relation-database

df6 = pd.read_csv('/Users/raynasser/Downloads/DSproj/drug_relation_dfe.csv')

df6.shape

(2020, 16)

In [6]:
df6.iloc[33]

unit_id                                                                    711483495
golden                                                                         False
unit_state                                                                 finalized
trusted_judgments                                                                  3
last_judgment_at                                                 2015-04-29T17:55:00
human_relation                                                   Personal experience
human_relation_confidence                                                        1.0
human_relation_type                                               Caused side effect
human_relation_type_confidence                                                0.6809
documentid                                                                        14
gold                                                                           False
human_relation_gold                                                              NaN
human_relation_gold_reason                                                       NaN
human_relation_type_gold                                                         NaN
human_relation_type_gold_reason                                                  NaN
text                               Update: This is the third day since i've been ...
Name: 33, dtype: object

In [46]:
# df.info()

df6.columns

Index(['unit_id', 'golden', 'unit_state', 'trusted_judgments',
       'last_judgment_at', 'human_relation', 'human_relation_confidence',
       'human_relation_type', 'human_relation_type_confidence', 'documentid',
       'gold', 'human_relation_gold', 'human_relation_gold_reason',
       'human_relation_type_gold', 'human_relation_type_gold_reason', 'text'],
      dtype='object')

In [47]:
df6.dtypes.unique()

array([dtype('int64'), dtype('bool'), dtype('O'), dtype('float64')],
      dtype=object)

In [48]:
df6.dtypes.value_counts()

object     8
float64    4
int64      2
bool       2
dtype: int64

In [49]:
df6.describe(include=['O'])

,unit_state,last_judgment_at,human_relation,human_relation_type,documentid,human_relation_gold_reason,human_relation_type_gold_reason,text
count,2020,2000,2020,2020,2020,19,20,2020
unique,2,271,5,5,2019,12,18,2020
top,finalized,2015-04-29T19:37:00,Personal experience,Caused side effect,t1,The author explicitly relates to an event s/he...,"Person tells that he/she takes drug, BUT there...",I am also taking cough medicine and some <font...
freq,2000,23,1216,1326,2,4,2,1

In [50]:
df6.duplicated().sum()

0

In [51]:
pd.DataFrame(df6.isna().sum())

                                    0
unit_id                             0
golden                              0
unit_state                          0
trusted_judgments                   0
last_judgment_at                   20
human_relation                      0
human_relation_confidence           0
human_relation_type                 0
human_relation_type_confidence      0
documentid                          0
gold                                0
human_relation_gold              2000
human_relation_gold_reason       2001
human_relation_type_gold         2000
human_relation_type_gold_reason  2000
text                                0

In [52]:
df_comp = df.dtypes.value_counts().rename('df#1')
df2_comp = df2.dtypes.value_counts().rename('df#2')
df3_comp = df3.dtypes.value_counts().rename('df#3')
df4_comp = df4.dtypes.value_counts().rename('df#4')
df5_comp = df5.dtypes.value_counts().rename('df#5')
df6_comp = df6.dtypes.value_counts().rename('df#6')



dtype_comparison = pd.concat([df_comp, df2_comp, df3_comp, df4_comp, df5_comp, df6_comp], axis=1)



dtype_comparison = dtype_comparison.fillna(0).astype(int)



dtype_comparison

         df#1  df#2  df#3  df#4  df#5  df#6
object     57     3     8     7     3     8
int64       1     1    14     0     1     2
float64     0     0     1     2     0     4
bool        0     0     0     0     0     2

In [53]:
df_comp = df.shape
df2_comp = df2.shape
df3_comp = df3.shape
df4_comp = df4.shape
df5_comp = df5.shape
df6_comp = df6.shape



shape_comparison = pd.DataFrame({
    'DataFrame': ['df', 'df2', 'df3', 'df4', 'df5', 'df6'],
    'Rows': [df_comp[0], df2_comp[0], df3_comp[0], df4_comp[0], df5_comp[0], df6_comp[0]],
    'Columns': [df_comp[1], df2_comp[1], df3_comp[1], df4_comp[1], df5_comp[1], df6_comp[1]]
})


total_rows = shape_comparison['Rows'].sum()
total_columns = shape_comparison['Columns'].sum()




shape_comparison = shape_comparison.append({
    'DataFrame': 'Total',
    'Rows': total_rows,
    'Columns': total_columns
}, ignore_index=True)



shape_comparison

/var/folders/qx/yrwdfm5j0jz1gmhp0x2tvjy80000gn/T/ipykernel_2865/1525621324.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  shape_comparison = shape_comparison.append({

  DataFrame    Rows  Columns
0        df  248218       58
1       df2    6338        4
2       df3  371663       23
3       df4     399        9
4       df5     112        4
5       df6    2020       16
6     Total  628750      114

### Medicine Allergies


1. https://www.fdbhealth.com/solutions/medknowledge-drug-database/integration-options

2. https://healthcaregateway.co.uk/

3. https://www.drugbank.com/clinical/drug_allergy

### Herbal

https://data.europa.eu/data/datasets/herbal-substances-that-are-designated-for-assessment-by-hmpc?locale=en

In [54]:
# foodrug = pd.read_sql(con="/Users/raynasser/Downloads/DSproj/FinalFooDrugs_v4.sql", )
# foodrug

In [55]:
# conn = psycopg2.connect(
#     host="localhost",
#     database="/Users/raynasser/Downloads/DSproj/FinalFooDrugs_v4.sql",

# )

In [56]:
#pip install mysql-connector-python
import mysql.connector as connection
import pandas as pd

mydb = connection.connect(host="localhost", database = 'drugs',user="root", passwd="tamamIste323",use_pure=True)
query = "select * from texts;"
result_dataFrame = pd.read_sql(query,mydb)
mydb.close() #close the connection

/Users/raynasser/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [57]:
# result_dataFrame.to_csv('/Users/raynasser/Downloads/DSproj/FooDru/texts.csv')

In [58]:
# sqlpath = 'path.sql'
# scriptFile = open(sqlpath,'r')
# script = scriptFile.read()
# df = pd.read_sql(script,prod_db)

In [59]:
# from adbc_driver_postgresql import dbapi

# with dbapi.connect('Users/raynasser/Downloads/DSproj/FinalFooDrugs_v4.sql') as conn:
#     pd.read_sql('SELECT int_column FROM test_data', conn)

In [60]:
# pipe =


df7 = pd.read_csv('/Users/raynasser/Downloads/DSproj/FooDru/sample.csv', index_col='Unnamed: 0')
df7

df8 = pd.read_csv('/Users/raynasser/Downloads/DSproj/FooDru/TM_interactions.csv')


df9 = pd.read_csv('/Users/raynasser/Downloads/DSproj/FooDru/topTable.csv')

/var/folders/qx/yrwdfm5j0jz1gmhp0x2tvjy80000gn/T/ipykernel_2865/702505483.py:7: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df8 = pd.read_csv('/Users/raynasser/Downloads/DSproj/FooDru/TM_interactions.csv')

In [61]:
df7.iloc[33]

sample_id                                      33
study_id                                        1
treatment                                 control
origin_type                             cell type
origin_name      Normal prostate epithelial cells
GSM                                       1185125
time_point                                6 hours
concentration                                   0
Name: 33, dtype: object

In [62]:
df8.iloc[33]

Unnamed: 0                       33
TM_interactions_ID             33.0
texts_ID                       21.0
start_index                   872.0
end_index                    1140.0
food                           salt
drug                  ACE inhibitor
Name: 33, dtype: object

In [63]:
df8.food.nunique()

55862

In [64]:
df3.iloc[33]

Identifier                                                         72
FirstBlock                                             YQUVCSBJEUQKSH
PubMed_Count                                                     1417
Patent_Count                                                    32872
Related_CIDs                                              72 54675866
Synonym                                     3,4-DIHYDROXYBENZOIC ACID
MolecularFormula                                               C7H6O4
SMILES                                        C1=CC(=C(C=C1C(=O)O)O)O
InChI               InChI=1S/C7H6O4/c8-5-2-1-4(7(10)11)3-6(5)9/h1-...
InChIKey                                  YQUVCSBJEUQKSH-UHFFFAOYSA-N
MonoisotopicMass                                           154.026609
CompoundName                                3,4-dihydroxybenzoic acid
AnnoTypeCount                                                       8
AgroChemInfo                                                        0
BioPathway                                                          6
DrugMedicInfo                                                       2
FoodRelated                                                         5
PharmacoInfo                                                        5
SafetyInfo                                                          2
ToxicityInfo                                                        2
KnownUse                                                            3
DisorderDisease                                                     2
Identification                                                      0
Name: 33, dtype: object

In [65]:
df.iloc[33]

id                                                       34
name                                     axcer  90mg tablet
substitute0                               Tikacad 90 Tablet
substitute1                                  Brigrel Tablet
substitute2                                Xygrel 90 Tablet
substitute3                              Ticastro 90 Tablet
substitute4                               Ticavic 90 Tablet
sideEffect0                                        Bleeding
sideEffect1                                  Breathlessness
sideEffect2                                             NaN
sideEffect3                                             NaN
sideEffect4                                             NaN
sideEffect5                                             NaN
sideEffect6                                             NaN
sideEffect7                                             NaN
sideEffect8                                             NaN
sideEffect9                                             NaN
sideEffect10                                            NaN
sideEffect11                                            NaN
sideEffect12                                            NaN
sideEffect13                                            NaN
sideEffect14                                            NaN
sideEffect15                                            NaN
sideEffect16                                            NaN
sideEffect17                                            NaN
sideEffect18                                            NaN
sideEffect19                                            NaN
sideEffect20                                            NaN
sideEffect21                                            NaN
sideEffect22                                            NaN
sideEffect23                                            NaN
sideEffect24                                            NaN
sideEffect25                                            NaN
sideEffect26                                            NaN
sideEffect27                                            NaN
sideEffect28                                            NaN
sideEffect29                                            NaN
sideEffect30                                            NaN
sideEffect31                                            NaN
sideEffect32                                            NaN
sideEffect33                                            NaN
sideEffect34                                            NaN
sideEffect35                                            NaN
sideEffect36                                            NaN
sideEffect37                                            NaN
sideEffect38                                            NaN
sideEffect39                                            NaN
sideEffect40                                            NaN
sideEffect41                                            NaN
use0                  Prevention of heart attack and stroke
use1                                                    NaN
use2                                                    NaN
use3                                                    NaN
use4                                                    NaN
Chemical Class                          Triazolopyrimidines
Habit Forming                                            No
Therapeutic Class                             BLOOD RELATED
Action Class                P2Y12 inhibitors (ADP receptor)
Name: 33, dtype: object

In [66]:
df7.columns.unique()

Index(['sample_id', 'study_id', 'treatment', 'origin_type', 'origin_name',
       'GSM', 'time_point', 'concentration'],
      dtype='object')

In [67]:
df7.concentration.nunique()

136

In [68]:
df7.origin_type.unique()
# df7.origin_name.unique()

df7.time_point.unique()
df7.concentration.unique()

array(['-', '0', '15 ÂµM', nan,
       'final concentration of total flavanones in the culture medium',
       '5 ÂµM\xa0', '1 ÂµM', '120 Âµg/mL', '3 g/day', '100 nM', '10 ÂµM',
       '10 pM', '1 nM', '0.1 ÂµM + 1 ÂµM ', '0.1 ÂµM', '150 mg/day',
       '700 nM', '100 ng/Âµl', '100 ÂµM', '40 ÂµM', '3 g', '1000 IU + 3g',
       '1000 IU', '30 ÂµM', '500 nM + 6 ÂµM', '50 ÂµM', '60 ÂµM', '5.85Âµg/ml',
       '2 ÂµM', '83 ÂµM', '34 Âµg/ml', '0.003 ÂµM', '10 Âµg/ml',
       '10 Î¼g/ml + 10 ng/ml', '10 ng/ml', '7 Âµg/mL', '1.68 Âµg/mL',
       '1.7 g DHA + 0.6 g EPA\xa0', '30 mM + 15 mM',
       '(100 ng/ml + 2 Âµg/ml anti-Flag M2 antibody) + 1/2 dilution',
       '(100 ng/ml + 2 Âµg/ml anti-Flag M2 antibody) + 30 mM + 15 mM',
       '1:11000 v/v', '1:800 v/v', '1:1100 v/v', '20 ÂµM', '0.5 Âµg GAE',
       '0.5 Âµg GAE + 300ÂµM ', '0.5 Âµg GAE/mL', '300ÂµM ', '24.55 Âµg/ml',
       '128 Âµg/mL', '46 Î¼g/ml', '4 g/day', '40 nM',
       '40 nM + 1 Âµg/mL + 10 Âµg/mL', '1 Âµg/mL + 10 Âµg/mL',
       '100 nM + 20 Âµg/ml\xa0', '10 Âµg/ml\xa0', '150 mM', '250 mM',
       '25 ÂµM', '40 g', '8 mg', '16 mg', '10 mM', '1 mM', '500 Âµg',
       '10 Î¼M', ' with anti-CD3/anti-CD28', 'one litre per day',
       '100 Âµl of ~10^8 CFU/ml', '40 mM', '30 Âµg/ml', '12.5ÂµÂµg/ml',
       '3 ÂµM', '300 ÂµM', '0.03 ÂµM', '80 ÂµM', '500 ÂµM', '0.01 ÂµM',
       '0.3 ÂµM', '50 Âµg/ml', '20 ml/day', '1 Âµg/ml', '0.6 ng/kg i.v',
       '3600 mg/day', '3600 mg/day + 0.6 ng/kg i.v',
       'two ml of ~10^8 CFU/ml', '1 MOI', '100 MOI',
       '100\xa0000 IU per week', '2 Âµg/ml', '2.32 Âµg/ml', '2.56 Âµg/ml',
       '600 nm of 0.9', '0.05%', '1 Âµg/mL', '50 ÂµM + 1 Âµg/mL', '10^-8M',
       '60ÂµmL daily', '1 g/day', '10^-11M + 4 Âµg/ml + 4 Âµg/ml + 4 Âµg/ml',
       '10^-11M', '4 Âµg/ml + 4 Âµg/ml + 4 Âµg/ml', '~109 CFU',
       '2 ounces/ day', '100ÂµnM', '51 mM', '10 Âµg per day',
       '1000 IU per day', '10-8M', '100 mg/day', '4400 IU',
       '1.5 cups of cooked dry bean', '100 ÂµM per day', '70 Âµg/mL',
       '30 Âµg/mL', '60 Î¼g/mL', '100 Î¼g/mL', '30 Î¼g/mL', '10-7M', '3M',
       '1M', '0.08%', '1.2 mM', '250uM', '200 microM', '60 microM',
       '500 ug/ml', '1 Î¼mol', '0.75 Î¼mol', '0.5 Î¼mol', '10 uM', '74 mM',
       '50ng/ml', '1 uM', '0.1%'], dtype=object)

In [69]:
df4.Allergens.unique()

array(['Almonds, Wheat, Dairy', 'Chicken, Wheat, Celery', 'Dairy',
       'Dairy, Anchovies', 'Dairy, Cocoa', 'Dairy, Eggs', 'Dairy, Fish',
       'Dairy, Ghee', 'Dairy, Nuts', 'Dairy, Wheat', 'Eggs',
       'Eggs, Dairy', 'Eggs, Mustard', 'Eggs, Soybeans', 'Fish',
       'Fish, Coconut', 'Fish, Dairy', 'Fish, Eggs', 'Fish, Soybeans',
       'Milk', 'Milk, Strawberries', 'None', 'Oats, Dairy', 'Peanuts',
       'Pine nuts, Dairy', 'Rice, Dairy', 'Shellfish', 'Shellfish, Dairy',
       'Shellfish, Eggs', 'Shellfish, Pork', 'Shellfish, Soybeans',
       'Soybeans', 'Soybeans, Fish', 'Wheat', 'Wheat, Dairy',
       'Wheat, Dairy, Alcohol', 'Wheat, Dairy, Cocoa',
       'Wheat, Dairy, Eggs', 'Wheat, Dairy, Nuts', 'Wheat, Pork, Dairy'],
      dtype=object)

In [70]:
df5

,id,name,category,indication
0,0,Antasida Doen Tablet Kunyah,stomach,gastric ulcer medicine to reduce gastric pain ...
1,1,Dexanta Tablet Kunyah,stomach,"Reduces symptoms of excess gastric acid, gastr..."
2,2,Esemag Cair,stomach,"Helps relieve gastric disorders, such as nause..."
3,3,Gastrucid Cair,stomach,"Reduces symptoms of excess gastric acid, gastr..."
4,4,Gastrucid Tablet Kunyah,stomach,"Reduces symptoms of excess gastric acid, gastr..."
...,...,...,...,...
107,107,Neozep Forte,flu,"Relieve flu symptoms such as fever, headache, ..."
108,108,Procold Flu,flu,"To relieve flu symptoms such as sneezing, bloc..."
109,109,Sanaflu,flu,"Relieve flu symptoms such as fever, headache a..."
110,110,Ultraflu,flu,"Relieve flu symptoms such as fever, headache, ..."
111,111,Nalgestan,have a cold,To relieve sneezing and nasal congestion due t...

In [71]:
df7.shape

(4559, 8)

In [72]:
df7

,sample_id,study_id,treatment,origin_type,origin_name,GSM,time_point,concentration
0,0,0,cranberry extract,cell type,endothelial cells,129143,6 hours,-
1,1,0,grapeseed extract,cell type,endothelial cells,129152,6 hours,-
2,2,0,control,cell type,endothelial cells,129146,6 hours,-
3,3,0,red wine extract,cell type,endothelial cells,129149,6 hours,-
4,4,0,cranberry extract,cell type,endothelial cells,129147,6 hours,-
...,...,...,...,...,...,...,...,...
4554,7774,260,Control,cell line,HL-60,15637,-,-
4555,7775,260,Control,cell line,HL-60,15453,-,-
4556,7776,260,Control,cell line,HL-60,15634,-,-
4557,7777,260,Control,cell line,HL-60,15575,-,-
4558,7778,260,Control,cell line,HL-60,15446,-,-

In [73]:
df9.columns.unique()

Index(['Unnamed: 0', 'entrez_Id', 'logFC', 'AveExpr', 'moderated_t', 'P_value',
       'adjusted_P_value', 'B', 'node_id', 'geneSet', 'top150'],
      dtype='object')

In [74]:
df9.iloc[33]

Unnamed: 0                33
entrez_Id              10036
logFC                3.95283
AveExpr             -2.25039
moderated_t          3.70526
P_value             0.022834
adjusted_P_value     0.64697
B                   -4.58562
node_id                  127
geneSet                   UP
top150                    UP
Name: 33, dtype: object

In [75]:
df8.food.nunique()

55862

In [76]:
df8.drug.nunique()

179449

In [77]:
df8.columns

Index(['Unnamed: 0', 'TM_interactions_ID', 'texts_ID', 'start_index',
       'end_index', 'food', 'drug'],
      dtype='object')

In [78]:
df8.iloc[33]

Unnamed: 0                       33
TM_interactions_ID             33.0
texts_ID                       21.0
start_index                   872.0
end_index                    1140.0
food                           salt
drug                  ACE inhibitor
Name: 33, dtype: object

In [79]:
df10 = pd.read_csv('/Users/raynasser/Downloads/DSproj/FooDru/texts.csv')#, index_col='Unnamed: 0')


# df10.iloc[10]

df10.iloc[75]

Unnamed: 0                                                   75
texts_ID                                                    115
document      Major Food Interaction||GENERALLY AVOID:  Alco...
link          https://www.drugs.com/food-interactions/acetam...
citation                                                    NaN
Name: 75, dtype: object

In [80]:
df8[(df8['food'] == 'salt') & (df8['drug'] == 'ACE inhibitor')]

,Unnamed: 0,TM_interactions_ID,texts_ID,start_index,end_index,food,drug
31,31,31.0,21.0,393.0,601.0,salt,ACE inhibitor
33,33,33.0,21.0,872.0,1140.0,salt,ACE inhibitor

In [81]:
xml = pd.read_xml('/Users/raynasser/Desktop/faers_xml_2024q2/XML/3_ADR24Q2.xml')

In [82]:
xml.safetyreportversion.unique()

array([ nan,   2.,   1.,   4.,  16.,   6.,  12.,   3.,   8.,   5.,  11.,
        10.,  23.,  14.,  20.,   7.,   9.,  22.,  13.,  38.,  17.,  29.,
        18.,  52.,  21.,  19.,  27.,  28.,  72.,  26.,  24.,  32.,  49.,
        42.,  15.,  61.,  31.,  51.,  86.,  30.,  53.,  39.,  35.,  40.,
        41.,  69.,  33.,  34.,  25.,  55.,  44.,  36.,  64.,  92.,  47.,
        70.,  45.,  58.,  48.,  37.,  43.,  75.,  84.,  71.,  63.,  81.,
        46.,  62.,  56.,  54.,  59.,  50.,  67.,  85., 122.,  83.,  68.,
        90.])

In [83]:
pd.read_html('https://fis.fda.gov/extensions/FPD-QDE-FAERS/FPD-QDE-FAERS.html')

[                                           0  \
 0     April - June 2024posted on 30-Jul-2024
 1                      ASCII  (ZIP - 63.9MB)
 2  January - March 2024posted on 22-Apr-2024
 3                      ASCII  (ZIP - 63.1MB)

                                            1
 0  ASCII  (ZIP - 63.9MB)  XML  (ZIP - 126MB)
 1                         XML  (ZIP - 126MB)
 2  ASCII  (ZIP - 63.1MB)  XML  (ZIP - 128MB)
 3                         XML  (ZIP - 128MB)  ,
                        0                   1
 0  ASCII  (ZIP - 63.9MB)  XML  (ZIP - 126MB),
                        0                   1
 0  ASCII  (ZIP - 63.1MB)  XML  (ZIP - 128MB),
                                               0  \
 0  October - December 2023posted on 23-Jan-2024
 1                         ASCII  (ZIP - 69.1MB)
 2     July - September 2023posted on 2-Nov-2023
 3                         ASCII  (ZIP - 60.1MB)
 4         April - June 2023posted on 1-Aug-2023
 5                         ASCII  (ZIP - 64.5MB)
 6     January - March 2023posted on 27-Apr-2023
 7                         ASCII  (ZIP - 64.3MB)

                                            1
 0  ASCII  (ZIP - 69.1MB)  XML  (ZIP - 140MB)
 1                         XML  (ZIP - 140MB)
 2  ASCII  (ZIP - 60.1MB)  XML  (ZIP - 123MB)
 3                         XML  (ZIP - 123MB)
 4  ASCII  (ZIP - 64.5MB)  XML  (ZIP - 130MB)
 5                         XML  (ZIP - 130MB)
 6  ASCII  (ZIP - 64.3MB)  XML  (ZIP - 133MB)
 7                         XML  (ZIP - 133MB)  ,
                        0                   1
 0  ASCII  (ZIP - 69.1MB)  XML  (ZIP - 140MB),
                        0                   1
 0  ASCII  (ZIP - 60.1MB)  XML  (ZIP - 123MB),
                        0                   1
 0  ASCII  (ZIP - 64.5MB)  XML  (ZIP - 130MB),
                        0                   1
 0  ASCII  (ZIP - 64.3MB)  XML  (ZIP - 133MB),
                                               0  \
 0  October - December 2022posted on 30-Jan-2023
 1                           ASCII  (ZIP - 69MB)
 2     July - September 2022posted on 4-Nov-2022
 3                         ASCII  (ZIP - 63.2MB)
 4         April - June 2022posted on 2-Aug-2022
 5                           ASCII  (ZIP - 63MB)
 6      January - March 2022posted on 2-May-2022
 7                         ASCII  (ZIP - 64.7MB)

                                            1
 0    ASCII  (ZIP - 69MB)  XML  (ZIP - 144MB)
 1                         XML  (ZIP - 144MB)
 2  ASCII  (ZIP - 63.2MB)  XML  (ZIP - 132MB)
 3                         XML  (ZIP - 132MB)
 4    ASCII  (ZIP - 63MB)  XML  (ZIP - 140MB)
 5                         XML  (ZIP - 140MB)
 6  ASCII  (ZIP - 64.7MB)  XML  (ZIP - 136MB)
 7                         XML  (ZIP - 136MB)  ,
                      0                   1
 0  ASCII  (ZIP - 69MB)  XML  (ZIP - 144MB),
                        0                   1
 0  ASCII  (ZIP - 63.2MB)  XML  (ZIP - 132MB),
                      0                   1
 0  ASCII  (ZIP - 63MB)  XML  (ZIP - 140MB),
                        0                   1
 0  ASCII  (ZIP - 64.7MB)  XML  (ZIP - 136MB),
                                              0  \
 0  October - December 2021posted on 9-Mar-2022
 1                          ASCII  (ZIP - 59MB)
 2    July - September 2021posted on 4-Nov-2021
 3                          ASCII  (ZIP - 70MB)
 4        April - June 2021posted on 3-Aug-2021
 5                          ASCII  (ZIP - 66MB)
 6    January - March 2021posted on 10-May-2021
 7                          ASCII  (ZIP - 69MB)

                                          1
 0  ASCII  (ZIP - 59MB)  XML  (ZIP - 123MB)
 1                       XML  (ZIP - 123MB)
 2  ASCII  (ZIP - 70MB)  XML  (ZIP - 132MB)
 3                       XML  (ZIP - 132MB)
 4  ASCII  (ZIP - 66MB)  XML  (ZIP - 123MB)
 5                       XML  (ZIP - 123MB)
 6  ASCII  (ZIP - 69MB)  XML  (ZIP - 130MB)
 7                       XML  (ZIP - 130MB)  ,
                      0                   1
 0  ASCII  (ZIP - 59MB)  XML  (ZIP - 123MB),
                      0                   1
 0  ASCII  (ZIP - 70MB)  XML  (ZIP - 132MB),
                      0                   1
 0  ASCII  (ZIP - 66MB)  XML  (ZIP - 123MB),
                      0                   1
 0  ASCII  (ZIP - 69MB)  XML  (ZIP - 130MB),
                                               0  \
 0  October - December 2020posted on 29-Jan-2021
 1                           ASCII  (ZIP - 71MB)
 2    July - September 2020posted on 17-Nov-2020
 3                           ASCII  (ZIP - 64MB)
 4         April - June 2020posted on 4-Aug-2020
 5                           ASCII  (ZIP - 66MB)
 6     January - March 2020posted on 30-Apr-2020
 7                           ASCII  (ZIP - 65MB)

                                          1
 0  ASCII  (ZIP - 71MB)  XML  (ZIP - 131MB)
 1                       XML  (ZIP - 131MB)
 2  ASCII  (ZIP - 64MB)  XML  (ZIP - 121MB)
 3                       XML  (ZIP - 121MB)
 4  ASCII  (ZIP - 66MB)  XML  (ZIP - 123MB)
 5                       XML  (ZIP - 123MB)
 6  ASCII  (ZIP - 65MB)  XML  (ZIP - 125MB)
 7                       XML  (ZIP - 125MB)  ,
                      0                   1
 0  ASCII  (ZIP - 71MB)  XML  (ZIP - 131MB),
                      0                   1
 0  ASCII  (ZIP - 64MB)  XML  (ZIP - 121MB),
                      0                   1
 0  ASCII  (ZIP - 66MB)  XML  (ZIP - 123MB),
                      0                   1
 0  ASCII  (ZIP - 65MB)  XML  (ZIP - 125MB),
                                              0  \
 0  October - December 2019posted on 5-Feb-2020
 1                          ASCII  (ZIP - 60MB)
 2    July - September 2019posted on 7-Nov-2019
 3                          ASCII  (ZIP - 62MB)
 4        April - June 2019posted on 1-Aug-2019
 5                          ASCII  (ZIP - 62MB)
 6     January - March 2019posted on 8-May-2019
 7                          ASCII  (ZIP - 56MB)

                                          1
 0  ASCII  (ZIP - 60MB)  XML  (ZIP - 113MB)
 1                       XML  (ZIP - 113MB)
 2  ASCII  (ZIP - 62MB)  XML  (ZIP - 118MB)
 3                       XML  (ZIP - 118MB)
 4  ASCII  (ZIP - 62MB)  XML  (ZIP - 118MB)
 5                       XML  (ZIP - 118MB)
 6  ASCII  (ZIP - 56MB)  XML  (ZIP - 103MB)
 7                       XML  (ZIP - 103MB)  ,
                      0                   1
 0  ASCII  (ZIP - 60MB)  XML  (ZIP - 113MB),
                      0                   1
 0  ASCII  (ZIP - 62MB)  XML  (ZIP - 118MB),
                      0                   1
 0  ASCII  (ZIP - 62MB)  XML  (ZIP - 118MB),
                      0                   1
 0  ASCII  (ZIP - 56MB)  XML  (ZIP - 103MB),
                          0                                        1
 0  October - December 2018  ASCII  (ZIP - 60MB)  XML  (ZIP - 112MB)
 1      ASCII  (ZIP - 60MB)                       XML  (ZIP - 112MB)
 2    July - September 2018  ASCII  (ZIP - 60MB)  XML  (ZIP - 112MB)
 3      ASCII  (ZIP - 60MB)                       XML  (ZIP - 112MB)
 4        April - June 2018  ASCII  (ZIP - 60MB)  XML  (ZIP - 112MB)
 5      ASCII  (ZIP - 60MB)                       XML  (ZIP - 112MB)
 6     January - March 2018   ASCII  (ZIP - 52MB)  XML  (ZIP - 94MB)
 7      ASCII  (ZIP - 52MB)                        XML  (ZIP - 94MB),
                      0                   1
 0  ASCII  (ZIP - 60MB)  XML  (ZIP - 112MB),
                      0                   1
 0  ASCII  (ZIP - 60MB)  XML  (ZIP - 112MB),
                      0                   1
 0  ASCII  (ZIP - 60MB)  XML  (ZIP - 112MB),
                      0                  1
 0  ASCII  (ZIP - 52MB)  XML  (ZIP - 94MB),
                          0                                       1
 0  October - December 2017  ASCII  (ZIP - 41MB)  XML  (ZIP - 76MB)
 1      ASCII  (ZIP - 41MB)                       XML  (ZIP - 76MB)
 2    July - September 2017  ASCII  (ZIP - 48MB)  XML  (ZIP - 91MB)
 3      ASCII  (ZIP - 48MB)                       XML  (ZIP - 91MB)
 4        April - June 2017  ASCII  (ZIP - 46MB)  XML  (ZIP - 86MB)
 5      ASCII  (ZIP - 46MB)                       XML  (ZIP - 86MB)
 6     January - March 2017  ASCII  (ZIP - 48MB)  XML  (ZIP - 91MB)
 7      ASCII  (ZIP - 48MB)                       XML  (ZIP - 91MB),
                      0                  1
 0  ASCII  (ZIP - 41MB)  XML  (ZIP - 76MB),
                      0                  1
 0  ASCII  (ZIP - 48MB)  XML  (ZIP - 91MB),
                      0                  1
 0  ASCII  (ZIP - 46MB)  XML  (ZIP - 86MB),
                      0                  1
 0  ASCII  (ZIP - 48MB)  XML  (ZIP - 91MB),
                          0                                       1
 0  October - December 2016  ASCII  (ZIP - 44MB)  XML  (ZIP - 82MB)
 1      ASCII  (ZIP - 44MB)                       XML  (ZIP - 82MB)
 2    July - September 2016  ASCII  (ZIP - 46MB)  XML  (ZIP - 87MB)
 3      ASCII  (ZIP - 46MB)                       XML  (ZIP - 87MB)
 4        April - June 2016  ASCII  (ZIP - 44MB)  XML  (ZIP - 81MB)
 5      ASCII  (ZIP - 44MB)                       XML  (ZIP - 81MB)
 6     January - March 2016  ASCII  (ZIP - 46MB)  XML  (ZIP - 84MB)
 7      ASCII  (ZIP - 46MB)                       XML  (ZIP - 84MB),
                      0                  1
 0  ASCII  (ZIP - 44MB)  XML  (ZIP - 82MB),
                      0                  1
 0  ASCII  (ZIP - 46MB)  XML  (ZIP - 87MB),
                      0                  1
 0  ASCII  (ZIP - 44MB)  XML  (ZIP - 81MB),
                      0                  1
 0  ASCII  (ZIP - 46MB)  XML  (ZIP - 84MB),
                          0                                       1
 0  October - December 2015  ASCII  (ZIP - 42MB)  XML  (ZIP - 77MB)
 1      ASCII  (ZIP - 42MB)                       XML  (ZIP - 77MB)
 2    July - September 2015  ASCII  (ZIP - 47MB)  XML  (ZIP - 88MB)
 3      ASCII  (ZIP - 47MB)                       XML  (ZIP - 88MB)
 4        April - June 2015  ASCII  (ZIP - 38MB)  XML  (ZIP - 70MB)
 5      ASCII  (ZIP - 38MB)                       XML  (ZIP - 70MB)
 6     January - March 2015  ASCII  (ZIP - 39MB)  XML  (ZIP - 72MB)
 7      ASCII  (ZIP - 39MB)                       XML  (ZIP - 72MB),
                      0                  1
 0  ASCII  (ZIP - 42MB)  XML  (ZIP - 77MB),
                      0                  1
 0  ASCII  (ZIP - 47MB)  XML  (ZIP - 88MB),
                      0                  1
 0  ASCII  (ZIP - 38MB)  XML  (ZIP - 70MB),
                      0                  1
 0  ASCII  (ZIP - 39MB)  XML  (ZIP - 72MB),
                          0                                       1
 0  October - December 2014  ASCII  (ZIP - 28MB)  XML  (ZIP - 53MB)
 1      ASCII  (ZIP - 28MB)                       XML  (ZIP - 53MB)
 2    July - September 2014  ASCII  (ZIP - 28MB)  XML  (ZIP - 54MB)
 3      ASCII  (ZIP - 28MB)                       XML  (ZIP - 54MB)
 4        April - June 2014  ASCII  (ZIP - 25MB)  XML  (ZIP - 44MB)
 5      ASCII  (ZIP - 25MB)                       XML  (ZIP - 44MB)
 6     January - March 2014  ASCII  (ZIP - 30MB)  XML  (ZIP - 52MB)
 7      ASCII  (ZIP - 30MB)                       XML  (ZIP - 52MB),
                      0                  1
 0  ASCII  (ZIP - 28MB)  XML  (ZIP - 53MB),
                      0                  1
 0  ASCII  (ZIP - 28MB)  XML  (ZIP - 54MB),
                      0                  1
 0  ASCII  (ZIP - 25MB)  XML  (ZIP - 44MB),
                      0                  1
 0  ASCII  (ZIP - 30MB)  XML  (ZIP - 52MB),
                          0                                       1
 0  October - December 2013  ASCII  (ZIP - 26MB)  XML  (ZIP - 46MB)
 1      ASCII  (ZIP - 26MB)                       XML  (ZIP - 46MB)
 2    July - September 2013  ASCII  (ZIP - 22MB)  XML  (ZIP - 40MB)
 3      ASCII  (ZIP - 22MB)                       XML  (ZIP - 40MB)
 4        April - June 2013  ASCII  (ZIP - 21MB)  XML  (ZIP - 38MB)
 5      ASCII  (ZIP - 21MB)                       XML  (ZIP - 38MB)
 6     January - March 2013  ASCII  (ZIP - 25MB)  XML  (ZIP - 44MB)
 7      ASCII  (ZIP - 25MB)                       XML  (ZIP - 44MB),
                      0                  1
 0  ASCII  (ZIP - 26MB)  XML  (ZIP - 46MB),
                      0                  1
 0  ASCII  (ZIP - 22MB)  XML  (ZIP - 40MB),
                      0                  1
 0  ASCII  (ZIP - 21MB)  XML  (ZIP - 38MB),
                      0                  1
 0  ASCII  (ZIP - 25MB)  XML  (ZIP - 44MB),
                          0                                       1
 0  October - December 2012  ASCII  (ZIP - 28MB)  XML  (ZIP - 50MB)
 1      ASCII  (ZIP - 28MB)                       XML  (ZIP - 50MB),
                      0                  1
 0  ASCII  (ZIP - 28MB)  XML  (ZIP - 50MB),
                        0                                       1
 0  July - September 2012  ASCII  (ZIP - 16MB)  XML  (ZIP - 21MB)
 1    ASCII  (ZIP - 16MB)                       XML  (ZIP - 21MB)
 2      April - June 2012  ASCII  (ZIP - 25MB)  XML  (ZIP - 32MB)
 3    ASCII  (ZIP - 25MB)                       XML  (ZIP - 32MB)
 4   January - March 2012  ASCII  (ZIP - 26MB)  XML  (ZIP - 33MB)
 5    ASCII  (ZIP - 26MB)                       XML  (ZIP - 33MB),
                      0                  1
 0  ASCII  (ZIP - 16MB)  XML  (ZIP - 21MB),
                      0                  1
 0  ASCII  (ZIP - 25MB)  XML  (ZIP - 32MB),
                      0                  1
 0  ASCII  (ZIP - 26MB)  XML  (ZIP - 33MB),
                          0                                       1
 0  October - December 2011  ASCII  (ZIP - 23MB)  XML  (ZIP - 29MB)
 1      ASCII  (ZIP - 23MB)                       XML  (ZIP - 29MB)
 2    July - September 2011  ASCII  (ZIP - 23MB)  XML  (ZIP - 29MB)
 3      ASCII  (ZIP - 23MB)                       XML  (ZIP - 29MB)
 4        April - June 2011  ASCII  (ZIP - 23MB)  XML  (ZIP - 29MB)
 5      ASCII  (ZIP - 23MB)                       XML  (ZIP - 29MB)
 6     January - March 2011  ASCII  (ZIP - 21MB)  XML  (ZIP - 26MB)
 7      ASCII  (ZIP - 21MB)                       XML  (ZIP - 26MB),
                      0                  1
 0  ASCII  (ZIP - 23MB)  XML  (ZIP - 29MB),
                      0                  1
 0  ASCII  (ZIP - 23MB)  XML  (ZIP - 29MB),
                      0                  1
 0  ASCII  (ZIP - 23MB)  XML  (ZIP - 29MB),
                      0                  1
 0  ASCII  (ZIP - 21MB)  XML  (ZIP - 26MB),
                          0                                       1
 0  October - December 2010  ASCII  (ZIP - 20MB)  XML  (ZIP - 25MB)
 1      ASCII  (ZIP - 20MB)                       XML  (ZIP - 25MB)
 2    July - September 2010  ASCII  (ZIP - 22MB)  XML  (ZIP - 28MB)
 3      ASCII  (ZIP - 22MB)                       XML  (ZIP - 28MB)
 4        April - June 2010  ASCII  (ZIP - 17MB)  XML  (ZIP - 22MB)
 5      ASCII  (ZIP - 17MB)                       XML  (ZIP - 22MB)
 6     January - March 2010  ASCII  (ZIP - 16MB)  XML  (ZIP - 20MB)
 7      ASCII  (ZIP - 16MB)                       XML  (ZIP - 20MB),
                      0                  1
 0  ASCII  (ZIP - 20MB)  XML  (ZIP - 25MB),
                      0                  1
 0  ASCII  (ZIP - 22MB)  XML  (ZIP - 28MB),
                      0                  1
 0  ASCII  (ZIP - 17MB)  XML  (ZIP - 22MB),
                      0                  1
 0  ASCII  (ZIP - 16MB)  XML  (ZIP - 20MB),
                          0                                       1
 0  October - December 2009  ASCII  (ZIP - 16MB)  XML  (ZIP - 20MB)
 1      ASCII  (ZIP - 16MB)                       XML  (ZIP - 20MB)
 2    July - September 2009  ASCII  (ZIP - 16MB)  XML  (ZIP - 19MB)
 3      ASCII  (ZIP - 16MB)                       XML  (ZIP - 19MB)
 4        April - June 2009  ASCII  (ZIP - 14MB)  XML  (ZIP - 18MB)
 5      ASCII  (ZIP - 14MB)                       XML  (ZIP - 18MB)
 6     January - March 2009  ASCII  (ZIP - 13MB)  XML  (ZIP - 16MB)
 7      ASCII  (ZIP - 13MB)                       XML  (ZIP - 16MB),
                      0                  1
 0  ASCII  (ZIP - 16MB)  XML  (ZIP - 20MB),
                      0                  1
 0  ASCII  (ZIP - 16MB)  XML  (ZIP - 19MB),
                      0                  1
 0  ASCII  (ZIP - 14MB)  XML  (ZIP - 18MB),
                      0                  1
 0  ASCII  (ZIP - 13MB)  XML  (ZIP - 16MB),
                          0                                       1
 0  October - December 2008  ASCII  (ZIP - 13MB)  XML  (ZIP - 16MB)
 1      ASCII  (ZIP - 13MB)                       XML  (ZIP - 16MB)
 2    July - September 2008  ASCII  (ZIP - 13MB)  XML  (ZIP - 16MB)
 3      ASCII  (ZIP - 13MB)                       XML  (ZIP - 16MB)
 4        April - June 2008  ASCII  (ZIP - 12MB)  XML  (ZIP - 16MB)
 5      ASCII  (ZIP - 12MB)                       XML  (ZIP - 16MB)
 6     January - March 2008  ASCII  (ZIP - 12MB)  XML  (ZIP - 15MB)
 7      ASCII  (ZIP - 12MB)                       XML  (ZIP - 15MB),
                      0                  1
 0  ASCII  (ZIP - 13MB)  XML  (ZIP - 16MB),
                      0                  1
 0  ASCII  (ZIP - 13MB)  XML  (ZIP - 16MB),
                      0                  1
 0  ASCII  (ZIP - 12MB)  XML  (ZIP - 16MB),
                      0                  1
 0  ASCII  (ZIP - 12MB)  XML  (ZIP - 15MB),
                          0                                        1
 0  October - December 2007   ASCII  (ZIP - 12MB)  XML  (ZIP - 14MB)
 1      ASCII  (ZIP - 12MB)                        XML  (ZIP - 14MB)
 2    July - September 2007  ASCII  (ZIP - 9.9MB)  XML  (ZIP - 13MB)
 3     ASCII  (ZIP - 9.9MB)                        XML  (ZIP - 13MB)
 4        April - June 2007  ASCII  (ZIP - 9.5MB)  XML  (ZIP - 12MB)
 5     ASCII  (ZIP - 9.5MB)                        XML  (ZIP - 12MB)
 6     January - March 2007  ASCII  (ZIP - 9.6MB)  XML  (ZIP - 12MB)
 7     ASCII  (ZIP - 9.6MB)                        XML  (ZIP - 12MB),
                      0                  1
 0  ASCII  (ZIP - 12MB)  XML  (ZIP - 14MB),
                       0                  1
 0  ASCII  (ZIP - 9.9MB)  XML  (ZIP - 13MB),
                       0                  1
 0  ASCII  (ZIP - 9.5MB)  XML  (ZIP - 12MB),
                       0                  1
 0  ASCII  (ZIP - 9.6MB)  XML  (ZIP - 12MB),
                          0                                        1
 0  October - December 2006  ASCII  (ZIP - 9.1MB)  XML  (ZIP - 12MB)
 1     ASCII  (ZIP - 9.1MB)                        XML  (ZIP - 12MB)
 2    July - September 2006  ASCII  (ZIP - 8.5MB)  XML  (ZIP - 11MB)
 3     ASCII  (ZIP - 8.5MB)                        XML  (ZIP - 11MB)
 4        April - June 2006  ASCII  (ZIP - 9.7MB)  XML  (ZIP - 13MB)
 5     ASCII  (ZIP - 9.7MB)                        XML  (ZIP - 13MB)
 6     January - March 2006   ASCII  (ZIP - 11MB)  XML  (ZIP - 13MB)
 7      ASCII  (ZIP - 11MB)                        XML  (ZIP - 13MB),
                       0                  1
 0  ASCII  (ZIP - 9.1MB)  XML  (ZIP - 12MB),
                       0                  1
 0  ASCII  (ZIP - 8.5MB)  XML  (ZIP - 11MB),
                       0                  1
 0  ASCII  (ZIP - 9.7MB)  XML  (ZIP - 13MB),
                      0                  1
 0  ASCII  (ZIP - 11MB)  XML  (ZIP - 13MB),
                          0                                        1
 0  October - December 2005  ASCII  (ZIP - 9.7MB)  XML  (ZIP - 12MB)
 1     ASCII  (ZIP - 9.7MB)                        XML  (ZIP - 12MB)
 2    July - September 2005  ASCII  (ZIP - 9.3MB)  XML  (ZIP - 12MB)
 3     ASCII  (ZIP - 9.3MB)                        XML  (ZIP - 12MB)
 4        April - June 2005  ASCII  (ZIP - 9.5MB)  XML  (ZIP - 12MB)
 5     ASCII  (ZIP - 9.5MB)                        XML  (ZIP - 12MB)
 6     January - March 2005  ASCII  (ZIP - 8.5MB)  XML  (ZIP - 11MB)
 7     ASCII  (ZIP - 8.5MB)                        XML  (ZIP - 11MB),
                       0                  1
 0  ASCII  (ZIP - 9.7MB)  XML  (ZIP - 12MB),

In [84]:
df11 = pd.read_csv('/Users/raynasser/Desktop/open structures.csv',
                   delimiter= '  ',
                   on_bad_lines='skip',
                #    error_bad_lines=False
                   )
df11

/var/folders/qx/yrwdfm5j0jz1gmhp0x2tvjy80000gn/T/ipykernel_2865/491831245.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df11 = pd.read_csv('/Users/raynasser/Desktop/open structures.csv',

                                                                                       Mrv1909 04022122312D
155160                                             0   0   1   0   NaN NaN NaN NaN NaN            999 V2000
2                                                  1   1   0   0   0   0   NaN NaN NaN                 None
3                                                  1   2   0   0   0   0   NaN NaN NaN                 None
9                                                  1   1   0   0   0   0   NaN NaN NaN                 None
4                                                  2   1   0   0   0   0   NaN NaN NaN                 None
...                                                                                                     ...
> <UNII>                                           NaN NaN NaN NaN NaN NaN NaN NaN NaN                 None
80VUN7L00C                                         NaN NaN NaN NaN NaN NaN NaN NaN NaN                 None
> <SYNONYMS>                                       NaN NaN NaN NaN NaN NaN NaN NaN NaN                 None
(2s,3s,5r)-3-methyl-3-((3-methyltriazol-3-ium-1... NaN NaN NaN NaN NaN NaN NaN NaN NaN                 None
$$$$                                               NaN NaN NaN NaN NaN NaN NaN NaN NaN                 None

[496999 rows x 1 columns]

In [85]:
df11.iloc[1778]

Mrv1909 04022122312D    None
Name: (> <CAS_NUMBER>, nan, nan, nan, nan, nan, nan, nan, nan, nan), dtype: object

In [86]:
df12 = pd.read_xml('/Users/raynasser/Desktop/drugbank.xsd')
df12

,name,type,{http://www.w3.org/2001/XMLSchema}annotation,{http://www.w3.org/2001/XMLSchema}sequence,{http://www.w3.org/2001/XMLSchema}attribute,{http://www.w3.org/2001/XMLSchema}restriction,{http://www.w3.org/2001/XMLSchema}simpleContent
0,drugbank,drugbank-type,NaN,NaN,NaN,NaN,NaN
1,drugbank-type,None,NaN,NaN,NaN,NaN,NaN
2,drug-type,None,NaN,NaN,NaN,NaN,NaN
3,state-type,None,NaN,NaN,NaN,NaN,NaN
4,group-list-type,None,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
98,carrier-type,None,NaN,NaN,NaN,NaN,NaN
99,transporter-list-type,None,NaN,NaN,NaN,NaN,NaN
100,transporter-type,None,NaN,NaN,NaN,NaN,NaN
101,product-country-type,None,NaN,NaN,NaN,NaN,NaN
102,product-source-type,None,NaN,NaN,NaN,NaN,NaN

In [87]:
from datasets import load_dataset

ds = load_dataset("keanec27/Drug_Protein_Interactions_space")

In [88]:
ds

DatasetDict({
    train: Dataset({
        features: ['id', 'DTI'],
        num_rows: 36592
    })
})

In [89]:
ds['train']['DTI'][:10]

[{'protein': 'M S H H W G Y G K H N G P E H W H K D F P I A K G E R Q S P V D I D T H T A K Y D P S L K P L S V S Y D Q A T S L R I L N N G H A F N V E F D D S Q D K A V L K G G P L D G T Y R L I Q F H F H W G S L D G Q G S E H T V D K K K Y A A E L H L V H W N T K Y G D F G K A V Q Q P D G L A V L G I F L K V G S A K P G L Q K V V D V L D S I K T K G K S A D F T N F D P R G L L P E S L D Y W T Y P G S L T T P P L L E C V T W I V L K E P I S V S S E Q V L K F R K L N F N G E G E P E E L M V D N W R P A Q P L K N R Q I K A S F K',
  'drug': '[C] [C] [=C] [C] [=C] [Branch2] [Ring1] [O] [C] [N] [S] [=Branch1] [C] [=O] [=Branch1] [C] [=O] [C] [=C] [C] [=C] [Branch1] [=Branch2] [S] [Branch1] [C] [N] [=Branch1] [C] [=O] [=O] [S] [Ring1] [=Branch2] [C] [=C] [Ring2] [Ring1] [Ring2]'},
 {'protein': 'M S H H W G Y G K H N G P E H W H K D F P I A K G E R Q S P V D I D T H T A K Y D P S L K P L S V S Y D Q A T S L R I L N N G H A F N V E F D D S Q D K A V L K G G P L D G T Y R L I Q F H F H W G S L D G Q G S E H T V D K K K Y A A E L H L V H W N T K Y G D F G K A V Q Q P D G L A V L G I F L K V G S A K P G L Q K V V D V L D S I K T K G K S A D F T N F D P R G L L P E S L D Y W T Y P G S L T T P P L L E C V T W I V L K E P I S V S S E Q V L K F R K L N F N G E G E P E E L M V D N W R P A Q P L K N R Q I K A S F K',
  'drug': '[C] [O] [C] [=C] [C] [=C] [Branch2] [Ring1] [O] [C] [N] [S] [=Branch1] [C] [=O] [=Branch1] [C] [=O] [C] [=C] [C] [=C] [Branch1] [=Branch2] [S] [Branch1] [C] [N] [=Branch1] [C] [=O] [=O] [S] [Ring1] [=Branch2] [C] [=C] [Ring2] [Ring1] [Ring2]'},
 {'protein': 'M S H H W G Y G K H N G P E H W H K D F P I A K G E R Q S P V D I D T H T A K Y D P S L K P L S V S Y D Q A T S L R I L N N G H A F N V E F D D S Q D K A V L K G G P L D G T Y R L I Q F H F H W G S L D G Q G S E H T V D K K K Y A A E L H L V H W N T K Y G D F G K A V Q Q P D G L A V L G I F L K V G S A K P G L Q K V V D V L D S I K T K G K S A D F T N F D P R G L L P E S L D Y W T Y P G S L T T P P L L E C V T W I V L K E P I S V S S E Q V L K F R K L N F N G E G E P E E L M V D N W R P A Q P L K N R Q I K A S F K',
  'drug': '[N] [S] [=Branch1] [C] [=O] [=Branch1] [C] [=O] [C] [=C] [C] [=C] [Branch1] [P] [S] [=Branch1] [C] [=O] [=Branch1] [C] [=O] [N] [C] [C] [=C] [C] [=C] [S] [Ring1] [Branch1] [S] [Ring1] [#C]'},
 {'protein': 'M S H H W G Y G K H N G P E H W H K D F P I A K G E R Q S P V D I D T H T A K Y D P S L K P L S V S Y D Q A T S L R I L N N G H A F N V E F D D S Q D K A V L K G G P L D G T Y R L I Q F H F H W G S L D G Q G S E H T V D K K K Y A A E L H L V H W N T K Y G D F G K A V Q Q P D G L A V L G I F L K V G S A K P G L Q K V V D V L D S I K T K G K S A D F T N F D P R G L L P E S L D Y W T Y P G S L T T P P L L E C V T W I V L K E P I S V S S E Q V L K F R K L N F N G E G E P E E L M V D N W R P A Q P L K N R Q I K A S F K',
  'drug': '[C] [C] [N] [C@H1] [C] [N] [Branch1] [Branch1] [C] [C] [O] [C] [S] [=Branch1] [C] [=O] [=Branch1] [C] [=O] [C] [S] [C] [Branch1] [=Branch2] [S] [Branch1] [C] [N] [=Branch1] [C] [=O] [=O] [=C] [C] [=Ring1] [=Branch2] [Ring2] [Ring1] [Ring1]'},
 {'protein': 'M S H H W G Y G K H N G P E H W H K D F P I A K G E R Q S P V D I D T H T A K Y D P S L K P L S V S Y D Q A T S L R I L N N G H A F N V E F D D S Q D K A V L K G G P L D G T Y R L I Q F H F H W G S L D G Q G S E H T V D K K K Y A A E L H L V H W N T K Y G D F G K A V Q Q P D G L A V L G I F L K V G S A K P G L Q K V V D V L D S I K T K G K S A D F T N F D P R G L L P E S L D Y W T Y P G S L T T P P L L E C V T W I V L K E P I S V S S E Q V L K F R K L N F N G E G E P E E L M V D N W R P A Q P L K N R Q I K A S F K',
  'drug': '[C] [N] [C@H1] [C] [N] [Branch1] [=N] [C] [=C] [C] [=C] [C] [Branch1] [Ring1] [O] [C] [=C] [Ring1] [Branch2] [S] [=Branch1] [C] [=O] [=Branch1] [C] [=O] [C] [S] [C] [Branch1] [=Branch2] [S] [Branch1] [C] [N] [=Branch1] [C] [=O] [=O] [=C] [C] [=Ring1] [=Branch2] [Ring2] [Ring1] [#Branch1]'},
 {'protein': 'M S H H W G Y G K H N G P E H W H K D F P I A K G E R Q S P V D I D T H T A K Y D P S L K P L S V S Y D Q A T S L R I L N N G H A F N V E F D D S Q D K A V L K G G P L D G T Y R L I Q F H F H W G S L D G Q G S E H T V D K K K Y A A E L H L V H W N T K Y G D F G K A V Q Q P D G L A V L G I F L K V G S A K P G L Q K V V D V L D S I K T K G K S A D F T N F D P R G L L P E S L D Y W T Y P G S L T T P P L L E C V T W I V L K E P I S V S S E Q V L K F R K L N F N G E G E P E E L M V D N W R P A Q P L K N R Q I K A S F K',
  'drug': '[C] [N] [C@@H1] [C] [N] [Branch1] [=N] [C] [=C] [C] [=C] [C] [Branch1] [Ring1] [O] [C] [=C] [Ring1] [Branch2] [S] [=Branch1] [C] [=O] [=Branch1] [C] [=O] [C] [S] [C] [Branch1] [=Branch2] [S] [Branch1] [C] [N] [=Branch1] [C] [=O] [=O] [=C] [C] [=Ring1] [=Branch2] [Ring2] [Ring1] [#Branch1]'},
 {'protein': 'M S H H W G Y G K H N G P E H W H K D F P I A K G E R Q S P V D I D T H T A K Y D P S L K P L S V S Y D Q A T S L R I L N N G H A F N V E F D D S Q D K A V L K G G P L D G T Y R L I Q F H F H W G S L D G Q G S E H T V D K K K Y A A E L H L V H W N T K Y G D F G K A V Q Q P D G L A V L G I F L K V G S A K P G L Q K V V D V L D S I K T K G K S A D F T N F D P R G L L P E S L D Y W T Y P G S L T T P P L L E C V T W I V L K E P I S V S S E Q V L K F R K L N F N G E G E P E E L M V D N W R P A Q P L K N R Q I K A S F K',
  'drug': '[C] [O] [C] [=C] [C] [=C] [C] [Branch2] [Ring1] [N] [N] [C] [=C] [C] [C] [=C] [Branch1] [=Branch2] [S] [Branch1] [C] [N] [=Branch1] [C] [=O] [=O] [S] [C] [=Ring1] [=Branch2] [S] [Ring1] [=N] [=Branch1] [C] [=O] [=O] [=C] [Ring2] [Ring1] [Branch1]'},
 {'protein': 'S H H W G Y G K H N G P E H W H K D F P I A K G E R Q S P V D I D T H T A K Y D P S L K P L S V S Y D Q A T S L R I L N N G H A F N V E F D D S Q D K A V L K G G P L D G T Y R L I Q F H F H W G S L D G Q G S E H T V D K K K Y A A E L H L V H W N T K Y G D V G K A V Q Q P D G L A V L G I F L K V G S A K P G L Q K V V D V L D S I K T K G K S A D F T N F D P R G L L P E S L D Y W T Y P G S L T T P P L L E C V T W I V L K E P I S V S S E Q V L K F R K L N F N G E G E P E E L M V D N W R P A Q P L K N R Q I K A S F K',
  'drug': '[N] [S] [=Branch1] [C] [=O] [=Branch1] [C] [=O] [C] [=C] [C] [=C] [Branch1] [#C] [C] [=Branch1] [C] [=O] [N] [C] [C] [=C] [C] [=C] [C] [=C] [Ring1] [=Branch1] [C] [=C] [Ring1] [S]'},
 {'protein': 'S H H W G Y G K H N G P E H W H K D F P I A K G E R Q S P V D I D T H T A K Y D P S L K P L S V S Y D Q A T S L R I L N N G H A F N V E F D D S Q D K A V L K G G P L D G T Y R L I Q F H F H W G S L D G Q G S E H T V D K K K Y A A E L H L V H W N T K Y G D V G K A V Q Q P D G L A V L G I F L K V G S A K P G L Q K V V D V L D S I K T K G K S A D F T N F D P R G L L P E S L D Y W T Y P G S L T T P P L L E C V T W I V L K E P I S V S S E Q V L K F R K L N F N G E G E P E E L M V D N W R P A Q P L K N R Q I K A S F K',
  'drug': '[N] [S] [=Branch1] [C] [=O] [=Branch1] [C] [=O] [C] [=C] [C] [=C] [Branch1] [S] [C] [=Branch1] [C] [=O] [N] [C] [C] [=C] [C] [=C] [C] [=C] [Ring1] [=Branch1] [F] [C] [=C] [Ring1] [P]'},
 {'protein': 'S H H W G Y G K H N G P E H W H K D F P I A K G E R Q S P V D I D T H T A K Y D P S L K P L S V S Y D Q A T S L R I L N N G H A F N V E F D D S Q D K A V L K G G P L D G T Y R L I Q F H F H W G S L D G Q G S E H T V D K K K Y A A E L H L V H W N T K Y G D V G K A V Q Q P D G L A V L G I F L K V G S A K P G L Q K V V D V L D S I K T K G K S A D F T N F D P R G L L P E S L D Y W T Y P G S L T T P P L L E C V T W I V L K E P I S V S S E Q V L K F R K L N F N G E G E P E E L M V D N W R P A Q P L K N R Q I K A S F K',
  'drug': '[N] [S] [=Branch1] [C] [=O] [=Branch1] [C] [=O] [C] [=C] [C] [=C] [Branch2] [Ring1] [Ring1] [C] [=Branch1] [C] [=O] [N] [C] [C] [=C] [C] [=C] [C] [Branch1] [C] [F] [=C] [Ring1] [#Branch1] [F] [C] [=C] [Ring2] [Ring1] [C]'}]

In [90]:
ds['train']['DTI'].to_csv('/Users/raynasser/Desktop/Drug_Protein_Interactions_space.csv')

AttributeError: 'list' object has no attribute 'to_csv'

In [94]:
ds2 = load_dataset("datamol-io/safe-drugs", streaming=True)

ds2

IterableDatasetDict({
    train: IterableDataset({
        features: ['dosed_ingredient', 'indication_class', 'molecule_chembl_id', 'molecule_type', 'oral', 'pref_name', 'therapeutic_flag', 'usan_stem', 'usan_stem_definition', 'usan_year', 'withdrawn_flag', 'smiles', 'inchikey', 'slices', 'morphing', 'motif', 'scaffold', 'superstructure'],
        n_shards: 1
    })
})

In [103]:
ds2 = pd.read_csv('/Users/raynasser/Desktop/safe-drugs.csv')
ds2.shape

(26, 18)

In [95]:
df13 = pd.DataFrame(ds['train']['DTI'])
df13

,protein,drug
0,M S H H W G Y G K H N G P E H W H K D F P I A ...,[C] [C] [=C] [C] [=C] [Branch2] [Ring1] [O] [C...
1,M S H H W G Y G K H N G P E H W H K D F P I A ...,[C] [O] [C] [=C] [C] [=C] [Branch2] [Ring1] [O...
2,M S H H W G Y G K H N G P E H W H K D F P I A ...,[N] [S] [=Branch1] [C] [=O] [=Branch1] [C] [=O...
3,M S H H W G Y G K H N G P E H W H K D F P I A ...,[C] [C] [N] [C@H1] [C] [N] [Branch1] [Branch1]...
4,M S H H W G Y G K H N G P E H W H K D F P I A ...,[C] [N] [C@H1] [C] [N] [Branch1] [=N] [C] [=C]...
...,...,...
36587,M C N T N M S V P T D G A V T T S Q I P A S E ...,[C] [O] [C] [=C] [C] [Branch1] [=Branch1] [C] ...
36588,M C N T N M S V P T D G A V T T S Q I P A S E ...,[C] [C] [Branch1] [C] [C] [Branch1] [C] [C] [C...
36589,M C N T N M S V P T D G A V T T S Q I P A S E ...,[C] [C] [Branch1] [C] [C] [C@@H1] [Branch1] [=...
36590,M K R V I T L F A V L L M G W S V N A W S F A ...,[C] [C] [C] [C] [C] [C] [C] [O] [C] [O] [C] [B...
36591,M K R V I T L F A V L L M G W S V N A W S F A ...,[C] [C] [C] [C] [C] [C] [C] [O] [C] [O] [C] [B...

In [94]:
df13.protein.nunique()

1311

In [98]:
# import requests
# requests.adapters.DEFAULT_RETRIES = 5
# requests.get('https://huggingface.co', timeout=60)



# df14 = pd.DataFrame(ds2['train'])
# df14

In [99]:
# https://huggingface.co/datasets/developerZoyal/full_drugs_data

ds3 = load_dataset("developerZoyal/full_drugs_data")
ds3

DatasetDict({
    train: Dataset({
        features: ['user', 'assistant'],
        num_rows: 84280
    })
})

In [102]:
import pandas as pd
import requests

# Correct URL for the actual raw JSONL file
url = "https://huggingface.co/datasets/developerZoyal/full_drugs_data/resolve/main/full_drugs_data.jsonl"
response = requests.get(url)

# Check if request is successful
if response.status_code == 200:
    # Save the file content to a local file
    with open('full_drugs_data.jsonl', 'wb') as f:
        f.write(response.content)

    # Now load the JSONL data into a DataFrame
    df14 = pd.read_json('full_drugs_data.jsonl', lines=True)
    print(df14.head())
else:
    print("Failed to download the dataset")

                                user  \
0        {"METFORMIN HYDROCHLORIDE"}
1             {"CARBAMIDE PEROXIDE"}
2  {"METHYLPHENIDATE HYDROCHLORIDE"}
3             {"RABEPRAZOLE SODIUM"}
4          {"BENZALKONIUM CHLORIDE"}

                                           assistant
0  {'contraindications': '{"CONTRAINDICATIONS Met...
1  {'contraindications': None, 'adverse_reactions...
2  {'contraindications': '{"CONTRAINDICATIONS Mar...
3  {'contraindications': '{"4 CONTRAINDICATIONS P...
4  {'contraindications': None, 'adverse_reactions...

In [7]:
df7.shape

NameError: name 'df7' is not defined

In [91]:
df3.iloc[33]

Identifier                                                         72
FirstBlock                                             YQUVCSBJEUQKSH
PubMed_Count                                                     1417
Patent_Count                                                    32872
Related_CIDs                                              72 54675866
Synonym                                     3,4-DIHYDROXYBENZOIC ACID
MolecularFormula                                               C7H6O4
SMILES                                        C1=CC(=C(C=C1C(=O)O)O)O
InChI               InChI=1S/C7H6O4/c8-5-2-1-4(7(10)11)3-6(5)9/h1-...
InChIKey                                  YQUVCSBJEUQKSH-UHFFFAOYSA-N
MonoisotopicMass                                           154.026609
CompoundName                                3,4-dihydroxybenzoic acid
AnnoTypeCount                                                       8
AgroChemInfo                                                        0
BioPathway                                                          6
DrugMedicInfo                                                       2
FoodRelated                                                         5
PharmacoInfo                                                        5
SafetyInfo                                                          2
ToxicityInfo                                                        2
KnownUse                                                            3
DisorderDisease                                                     2
Identification                                                      0
Name: 33, dtype: object

In [93]:
df.iloc[33]

id                                                       34
name                                     axcer  90mg tablet
substitute0                               Tikacad 90 Tablet
substitute1                                  Brigrel Tablet
substitute2                                Xygrel 90 Tablet
substitute3                              Ticastro 90 Tablet
substitute4                               Ticavic 90 Tablet
sideEffect0                                        Bleeding
sideEffect1                                  Breathlessness
sideEffect2                                             NaN
sideEffect3                                             NaN
sideEffect4                                             NaN
sideEffect5                                             NaN
sideEffect6                                             NaN
sideEffect7                                             NaN
sideEffect8                                             NaN
sideEffect9                                             NaN
sideEffect10                                            NaN
sideEffect11                                            NaN
sideEffect12                                            NaN
sideEffect13                                            NaN
sideEffect14                                            NaN
sideEffect15                                            NaN
sideEffect16                                            NaN
sideEffect17                                            NaN
sideEffect18                                            NaN
sideEffect19                                            NaN
sideEffect20                                            NaN
sideEffect21                                            NaN
sideEffect22                                            NaN
sideEffect23                                            NaN
sideEffect24                                            NaN
sideEffect25                                            NaN
sideEffect26                                            NaN
sideEffect27                                            NaN
sideEffect28                                            NaN
sideEffect29                                            NaN
sideEffect30                                            NaN
sideEffect31                                            NaN
sideEffect32                                            NaN
sideEffect33                                            NaN
sideEffect34                                            NaN
sideEffect35                                            NaN
sideEffect36                                            NaN
sideEffect37                                            NaN
sideEffect38                                            NaN
sideEffect39                                            NaN
sideEffect40                                            NaN
sideEffect41                                            NaN
use0                  Prevention of heart attack and stroke
use1                                                    NaN
use2                                                    NaN
use3                                                    NaN
use4                                                    NaN
Chemical Class                          Triazolopyrimidines
Habit Forming                                            No
Therapeutic Class                             BLOOD RELATED
Action Class                P2Y12 inhibitors (ADP receptor)
Name: 33, dtype: object